html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    // display: flex;
    font-size: 1.6rem;
    font-family: 'Roboto', Verdana, sans-serif;
}

h1 {
    width: 500px;
    @include font (10.6496rem, 75%, 700);
    margin: 74px 0 0 73px;
    text-align: center;
    text-transform: uppercase;

}

h2 {
    @include font (4.8rem, 120%);
}

h3 {
    @include font (3.6rem, 130%);
    @include media-mobile {
        font-size: 2.4rem;
    }
}

h4 {
    @include font ($line-height: 120%, $size: 2.4rem) ;
}

h5 {
    @include font ($size: 1.6rem, $line-height: 140%);
} 

    
img {
    @extend %transition;
}

img:hover {
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: inherit;
    @extend %transition;
}

// a:hover {
//     color: $color-green;
// }

