.button {
    // width: 0.18625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    background: $color-brand2;
    height: 54px;
    border-radius: 25px;
    border: none;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
    color: $color-light;
    transition: all .3s;
}

.button-colored {
    color: $color-brand2;
}

.button:hover {
    color: $color-green;
}

.promo__button {
    padding: 0 0 100px 0;
}



