%hamburger-line {
    position: absolute;
    display: inline-block;
    background: $color-light;
    border-radius: 2px;
    width: 100%;
    height: 2px;
    content: "";
}

.hamburger {
    display: none;
    position: relative;
    width: 18px;
    height: 10px;
    @include media-tablet {
        display: inline-block;
    }

    &:before {
        @extend %hamburger-line;
        top: 0;
        left: 0;
    }

    &:after {
        @extend %hamburger-line;
        bottom: 0;
        left: 0;
    }
}

.hamburger__line {
    @extend %hamburger-line;
    top: calc(50% - 1px);
    left: 0;
}