.header {
    background: $color-dark;
    padding: 14px 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    color: $color-light;
    padding: 0;
}


.navigation__link {
    list-style: none;
    padding: 0 58px 0 0;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    transition: all .3s;
}

.navigation__link:first-child {
    color: $color-brand2;
    margin-left: -300px;
}

.navigation__link:last-child {
    padding: 0;
}
.navigation__link:hover {
    color: $color-green;
}

.signature {
    color: $color-light;
    font-weight: 500;
    line-height: 140%;
    text-decoration: none;
}