.pets {
    background: $color-flower2 left bottom no-repeat, $color-flower3 right bottom no-repeat;
    height: 100%;
    max-width: $max-width;
    margin: auto;
    @include media-small_desktop {
        background: $color-flower2 left bottom  no-repeat, $color-flower3  right-bottom  no-repeat;
        background-size: 20% 202px;
    }
    @include media-mobile {
        background-size: 25% 4%;
    }
}

.pets__wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: "layout-3-column"
                    "pets__button";
    grid-row-gap: 50px;
    @include media-tablet {
        grid-row-gap: 60px; 
    }
    @include media-mobile {
        grid-row-gap: 20px; 
    }
}


.layout-3-column {
    display: grid;
    grid-template: "pets__switch1 panda eagles gorillas pets__switch2"
    "pets__switch1 alligators cheetahs penquins pets__switch2";
    grid-gap: 30px;
    grid-area: "layout-3-column";
   align-items: center;

    @include media-small_desktop {
        //    grid-template-columns: repeat (6, 49px);
        //     grid-template-rows: repeat (3, 354px); 
        grid-template-areas: "panda panda eagles eagles cheetahs cheetahs"
        "pets__switch1 pets__switch1 pets__switch1 pets__switch2 pets__switch2 pets__switch2"
        "gorillas gorillas alligators alligators penquins penquins";
        // grid-row-gap: 92px;
    }
    @include media-tablet {
        overflow: hidden;
        grid-gap:  11px 28px;
    }
    @include media-mobile {
        grid-gap:  20px 28px;
        grid-template-areas: "panda" "eagles"  "gorillas"  "alligators";
    }
}
.pet {
    @include media-small_desktop {
        width: 294px;
    }
    @include media-tablet {
        width: 284px;
    }
    @include media-mobile {
        width: 100%;
    }
}
.pets__switch1,
.pets__switch2 {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    color: $color-light;
    @include media-mobile {
        display: none;
    }
}
.pets__switch1 {
    // grid-area: "pets__switch1";
    grid-area: 1/1/4/2;
    margin: 0 0  30px 0;
    @include media-small_desktop {
        grid-area: 2/3/3/4;
        justify-self: start;
    }
    @include media-tablet {
        grid-area: 2/2/3/3;
        margin:0 0 8px 0;
    }

}

.pets__switch2 {
    grid-area: "pets__switch2";
    grid-area: 1/5/4/6;
    margin: 0 0  30px 0;
    @include media-small_desktop {
        grid-area: 2/4/3/5;
        justify-self: end;
    }
    @include media-tablet {
        grid-area: 2/3/3/4;
        margin:0 0 8px 0;
    }
}

.pet__container1 {
    grid-area: panda;
    // @include media-small_desktop {
        
    // }
}

.pet__container2 {
    grid-area: eagles;
    // @include media-small_desktop {
    // }
}

.pet__container3 {
    // grid-area: 1/3/2/4;
      grid-area:gorillas;
    @include media-small_desktop {
        // grid-area: 3/1/4/3;
      
    }
}

.pet__container1,
.pet__container2,
.pet__container3,
.pet__container {
    border: 1px solid $color-brand2;
    border-radius: 5px;
}

.pet__container4 {
    grid-area: alligators;

     @include media-small_desktop {
        // grid-area: 1/3/4/5;
        
    }
    .alligators {
        display: none;

        @include media-small_desktop {
            display: block;
        }
    }

    .Two-toed {
        @include media-small_desktop {
            display: none;
        }
    }
}
.pet__container5 {
    grid-area: cheetahs;
    @include media-small_desktop {
        // grid-area: 1/5/2/7;
        
    }
    @include media-mobile {
        display:none;
    }
}
.pet__container6 {
    grid-area: penquins;
    @include media-small_desktop {
        // grid-area: 1/5/2/7;    
    }
    @include media-mobile {
        display:none;
    }
}
.pet-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    height: 60px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: $color-dark;
    padding: 8px 13px 14px 16px;
    // @extend %transition;
}

.pet-about:hover {
    background: $color-grey;
    opacity: 0.8;
    z-index: 2;
    position: relative;
    top: -80px;
    // @extend %transition;
}

.pet_title {
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

// .pet-description {

// }

.food-banan {
    width: 33px;
    height: 37px;
}

.food-fish {
    width: 48px;
    height: 38px;
}

.pets__button {
    display: flex;
    justify-content: space-around;
    grid-area: "pets__button";
    margin-bottom: 100px;
    @include media-mobile {
        margin-bottom: 60px;
    }
}