.pick-friend {
    background: $color-background;
    color: $color-text;
    padding: 69px 0 100px;
    max-width: $max-width;
    margin: auto;
}

.pick__wrapper {
    background: $color-pick;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 40px 52px 0 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pick-friend_title {
    color: $color-brand2;
    text-align: center;
    margin: 0 0 30px 0;
}

.pick-friend__description {
    padding: 0 0 60px 0;

    h4 {
        margin: 0 0 40px 0;
    }

    h5 {
        margin: 0 0 10px 0;
        &:last-child {
            width: 863px;
        }
    }
}

// .pick-friend__scheme {

// }
.scheme__container {
    padding: 51px 0 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.scheme-element {
    width: 168px;
}

.img-container1 {
    width: 168px;
    height: 168px;
    background: #FFFFFF url("../../../assets/icons/scheme-img1.svg") 50% no-repeat;
    display: inline-block;
}

.img-container2 {
    width: 168px;
    height: 168px;
    background: #FFFFFF url("../../../assets/icons/scheme-img2.svg") 50% no-repeat;
}

.img-container3 {
    width: 168px;
    height: 168px;
    background: #FFFFFF url("../../../assets/icons/scheme-img3.svg") 50% no-repeat;
}



.scheme-description {
    padding: 30px 0 0 0;
}

.next {
    width: 130px;
    height: 168px;
    background: url("../../../assets/icons/next.svg") 50% no-repeat;
}

.pick-friend__button {
    padding: 0 0 59px;
}