.promo {
    background: $color-promo;
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: $max-width;
    margin: auto;
    overflow: hidden;
  
    @include media-small_desktop {
        max-width: 1000px;  
        background-size: 130%;
        background-size: cover;
    }

    @include media-tablet {
        max-width: 640px;
        background-size: 122%;
        background-size: cover;
    }

    @include media-mobile {
        max-width: 320px;
        background-size: cover;
    }
}


.promo__wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 12px 200px 0 0;

    @include media-small_desktop {
        padding: 0 147px 47px 0;
    }

    @include media-tablet {
        padding: 10px 75px 40px 20px;
    }

    @include media-mobile {
        padding: 22px 10px 46px 10px;
    }

}

.promo__content {
    width: 465px;
    background: $color-brand;
    border-radius: 50%;
    color: $color-light;
    margin-bottom: 60px;

    @include media-small_desktop {
        width: 367px;
        position: relative;
        bottom: 10px;
        margin-bottom: 37px;

        h1 {
            font-size: 8.5rem;
            bottom: 0;
            margin: 54px 58px 0 0;
        }
    }

    @include media-tablet {
        width: 237px;
        margin-bottom: 0;
        bottom: 0;

        h1 {
            font-size: 5.43rem;
            margin: 37.8px 0 0 37.8px;
            width: 255.6px;

        }

        @include media-mobile {
            width: 119px;
    margin-right: 28px;
            h1 {
                font-size: 2.8rem;
                margin: 19px 0 0 19px;
                width: 128.2px;
    
            }
    }

}
}

.colortext {
    color: $color-yellow;
}