.wrapper {
    max-width: $content-width;
    margin:  auto;
    @include media-small_desktop {
        padding: 0 30px;
    }
    @include media-small_desktop {
        padding: 0 20px;
    }
    @include media-mobile {
        padding: 0 10px;
    }
}

