
.promo2 {
    background: url("../../../assets/images/background-donate.jpg");
    background-repeat: no-repeat;
    background-position: contain;
   
}

.promo2__wrapper {
    height: 462px;
}