.header__logo {
    margin-right: 68px;
}

.logo {
    display: inline-flex;
    width: 82px;
    height: 52px;
    @include media-tablet {
      width : 47px; 
      height: 28px;
      display: flex;
      align-items: center;
    }
    
}

.logo__text {
    font-weight: 400;
    font-size: 1.90145rem;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    border: 1.18841px solid #FFFFFF;
    margin: 0;
    padding: 3.55px 4.75px;
    text-transform: none;
    align-self: center;
    @include media-tablet {
        border: none;
        padding: 0;
        font-size: 1.2rem;
    }
}

.logo__img {
    position: relative;
    right: 55.3px;

    @include media-tablet {
        right: 33px;
        top: 2px;
        width: 4.54px;
        height: 13.56px;
    }
}