//background-img
$color-promo: url("../../../assets/images/promo-background.jpg");
$color-flower:  url("../../../assets/images/backstage-backgroung-img.jpg") right no-repeat;
$color-flower2: url("../../../assets/images/background-pets(1).jpg");
$color-flower3: url("../../../assets/images/background-pets(2).jpg");


//img 
$backstage-img: url("../../../assets/images/backstage-img.jpg");