$color-brand: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-brand2: #FE9013;
$color-background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

$color-promo: url("../../../assets/images/promo-background.jpg");

$color-light: #FFFFFF;
$color-grey: #BDBDBD;
$color-grey2: #767474;
$color-text:  #333B41;
$color-dark: #000000;
$color-pick: rgba(253, 253, 255, 0.52);
$color-flower:  url(./assets/images/backstage-backgroung-img.jpg) right no-repeat;

$color-yellow: #FFEE2E;
// $color-borger: #FA6F32 100 %, #FE9013 100 %;
$color-scroll: #F5F7F6;
$color-green: #4B9200;

$content-width:1160px;
$max-width: 1600px;
$tablet-widtg: 768px;
$mobile-big-width:414px;
$mobile-small-width: 320px;

